body{
    height: 200rem;
    background: linear-gradient(to right, #1b2b96, #4c5dcd);
}
.container-site{

    color: #ffffff;

    .topoPage{
        display: flex;
        padding: 2rem;
        gap: 5rem;

    }

    .logofrei{
        display: flex;
        gap: 1rem;
    }

    .logofrei>h1{
        font-size: 15px;
        width: 25px;
        color: #f5c66d;
        padding-top: 0.2rem;
        
    }

    .logofrei>img{
        box-shadow: 0 0 150px #fefdfc;
        height: 90px;
        width: 80px;
    }

    .areaRegistro{
        display: flex;
        height: 3rem;
        
        gap: 2rem;
        margin-left: auto;
        transition: transform 0.3s ease; 
    
    a{
        text-decoration: none;
        text-transform: none;
        color: #f5c66d;
    }

   a{
        color: #ffffff;
        border: 1px solid #f5c66d;
        border-radius: 10px;
        padding-top: 0.8rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        

        &:hover {
            background-color: #ffbc40;
            transform: scale(1.15); /* aumenta 5% ao passar o mouse */
            transition: transform 0.3s ease; 
            box-shadow: #f5c66d 0px 1px 0px, #f5c66d 0px 8px 24px, #f5c66d 0px 16px 48px;
        }

        &:active{
            color: white;
        }

    }
}

    .descricoes{
        display: flex;
        flex-direction: column;
        padding-top: 5rem;

    .texto{
        text-align: center;
    }

    .texto>h2{
        color: #f5c66d;
        font-size: 1.5rem;
    }

    .texto>h3{
        padding-top: 2rem;
        padding-bottom: 4rem;
        font-size: 3rem;
    }

    .texto>h4{
        padding-top: 2rem;
        font-size: 2rem;
    }

     a{
        text-decoration: none;
        color: #ffffff;
        border: 1px solid #f5c66d;
        border-radius: 10px;
        padding: 1rem;
        background-color: #ffb121;

        &:hover{
            transform: scale(1.15);
            transition: transform 0.3s ease; 
            background-color: #ffd17ac0;
            border: 1px solid #ffd17ac0;
        }

        &:active{
            background-color: #ffd280;
        }
     }

     
    }
    .projetos{
        display: flex;
        align-items: center;
        flex-direction: column;
        padding-top: 10rem;
        
        .center{
            display: flex;
            align-items: center;
            width: 70rem;
            padding: 2rem;
            margin-top: 2rem;
            border: 3px solid #f5c66d;
            border-radius: 20px;
        
        }

        .texto-imagem{
            display: flex;
            padding-left: 2rem;       
            gap: 3rem;     
        }

        .texto-imagem>img{
            width: 420px;
            height: 380px;
            color: #13217a;
        }

        .texto-imagem>p{
            text-align: justify;
        }
     }



}