body{
    height: 200rem;
    background: linear-gradient(to right, #13217a, #4c5dcd);
}
.container-site{

    color: #ffffff;

    .topoPage{
        display: flex;
        padding: 2rem;
        gap: 5rem;

    }

    .logofrei{
        display: flex;
        gap: 1rem;
    }

    .logofrei>h1{
        font-size: 15px;
        width: 25px;
        color: #f5c66d;
        padding-top: 0.2rem;
        
    }

    .logofrei>img{
        box-shadow: 0 0 150px #fefdfc;
        height: 90px;
        width: 80px;
    }

    .areaRegistro{
        display: flex;
        height: 3rem;
        
        gap: 2rem;
        margin-left: auto;
        transition: transform 0.3s ease; 
    
    a{
        text-decoration: none;
        text-transform: none;
        color: #f5c66d;
    }

   a{
        color: #ffffff;
        border: 1px solid #f5c66d;
        border-radius: 10px;
        padding-top: 0.8rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        

        &:hover {
            background-color: #f5c66d;
            transform: scale(1.15); /* aumenta 5% ao passar o mouse */
            transition: transform 0.3s ease; 
        }

        &:active{
            color: white;
        }

    }
}

    .descricoes{
        display: flex;
        flex-direction: column;

    .texto{
        text-align: center;
    }

    .texto>h2{
        color: #f5c66d;
        font-size: 17px;
    }

    .texto>h3{
        padding-top: 1rem;
        padding-bottom: 2rem;
        font-size: 40px;
    }

     a{
        text-decoration: none;
        color: #ffffff;
        border: 1px solid #f5c66d;
        border-radius: 10px;
        padding: 1rem;
        background-color: #fac666;

        &:hover{
            background-color: #ffb327;
        }

        &:active{
            background-color: #ffd280;
        }
     }

     .projetos{
        display: flex;
        align-items: center;
        flex-direction: column;
        border: #ffffff;


        .texto{
            color: #13217a;
        }
     }

     

}

.imgsAlunos{
    padding-top: 8rem;

    .imgsAlunos>img{
        
    }
}

.apresentacao{
    padding-top: 15rem;

    .titulo{
        padding-bottom: 2rem;
    text-align: center;
    font-size: 2rem;
    }
    .texto{
        text-align: justify;
        padding-left: 4rem;
        padding-right: 4rem;
        font-size: 1.5rem;
    }
}
}